@import "_setting";

li.card-item {
    background-color: white;
    overflow: hidden;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 1px 1px #acacac;
    &:not(:last-child) {
        margin-bottom: 5px;
    }
    img {
        margin: -5px 0 5px -5px;
        width: calc(100% + 10px);
        display: block;
    }
}
