@import "_setting";

.board-contents {
   height: $board-content-height;
   overflow-y: hidden;
   overflow-x: auto;
   border-radius: $main-radius;
   margin: 0 10px;
   display: flex;
   gap: 5px;
   &::-webkit-scrollbar {
      -webkit-appearance: none;
   }
   &::-webkit-scrollbar:horizontal {
      height: 12px;
   }
   &::-webkit-scrollbar-thumb {
      background-color: #ffffff8e;
      border-radius: 4px;
   }
   &::-webkit-scrollbar-thumb:hover {
      background-color: #ffffffd8;
   }
   .column-drop-preview {
      background-color: #9a9ae65e;
      border: 1px dashed #abc;
      border-radius: 5px;
      margin-right: 10px;
   }
   .add-column {
      width: 250px;
      height: fit-content;
      padding: 10px;
      border-radius: $main-radius;
      color: white;
      flex: 0 0 auto;
      cursor: pointer;
      background-color: #ffffff41;
      &:hover {
         background-color: #afafaf5e;
      }
   }
}
