@import "_setting";

body {
   margin: 0;
   line-height: 1em;
   font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
   font-size: 17px;
}
.master {
   background-color: $main-color;
   height: 100vh;
   // overflow: hidden;
   .icon {
      font-size: 17px;
      margin-right: 10px;
   }
}
